    .p-gui__folder {
        width: 100%;
        position: relative;
        background: var(--color-bg);
        margin-bottom: 2px;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid var(--color-border-2);
        border-radius: var(--main-border-radius);
        box-sizing: border-box;
        border-left: 1px solid #bbbbbb;
    }

    .p-gui__folder--first {
        margin-top: 0;
    }

    .p-gui__folder-content {
        display: grid;
        grid-template-rows: 1fr;
        transition: 250ms grid-template-rows ease;
        width: 100%;
    }

    .p-gui__folder-inner {
        overflow: hidden;
        padding-left: 3px;
        padding-right: 2px;
    }

    .p-gui__folder--closed .p-gui__folder-content {
        grid-template-rows: 0fr;
    }

    .p-gui__folder-header {
        padding: 5px 3px;
        background-color: rgba(0, 0, 0, .5);
        color: white;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
        border-top-right-radius: var(--main-border-radius);
        border-bottom-right-radius: var(--main-border-radius);
    }

    .p-gui__folder-header:hover {
        background-color: rgba(0, 0, 0, .75);
    }

    .p-gui__folder-arrow {
        width: 8px;
        height: 8px;
        display: inline-block;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAHlBMVEUAAAD///////////////////////////////////8kfJuVAAAACXRSTlMA9Z1fCdMo1yxEJnA0AAAAK0lEQVQI12PABlRgjKkJUMZMYRhjpgqMAZSEMICSaIzpDWiKhdENhEhgAgATSg5jyWnYewAAAABJRU5ErkJggg==);
        background-size: contain;
        margin-right: 5px;
        transform: rotate(90deg)
    }

    .p-gui__folder--closed .p-gui__folder-arrow {
        transform: rotate(0deg);
    }