.p-gui__tabs {
    width: 100%;
    position: relative;
    background: var(--color-bg);
    margin-bottom: 2px;
    border: 1px solid var(--color-border-2);
    border-radius: var(--main-border-radius);
    box-sizing: border-box;
    border-left: 1px solid #bbbbbb;
    padding-block: 0;
}

.p-gui__tabs--first {
    margin-top: 0;
}

.p-gui__tabs-header {
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    border-top-left-radius: var(--main-border-radius);
    border-top-right-radius: var(--main-border-radius);
}

.p-gui__tab-button {
    padding: 7px 10px;
    background: transparent;
    color: #bbb;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    /*border-bottom: 1px solid var(--color-accent);*/
    font-family: inherit;
}

.p-gui__tab-button:last-child {
    border-right: none;
}

.p-gui__tab-button:hover {
    color: white;
}

.p-gui__tab-button--active {
    background-color: var(--color-bg);
    color: white;
    border-bottom: 1px solid transparent;
}

.p-gui__tabs-content {
    position: relative;
    width: 100%;
}

.p-gui__tab-pane {
    display: none;
    width: 100%;
    padding-top: 4px;
    box-sizing: border-box;
}

.p-gui__tab-pane--active {
    display: block;
}
