.p-gui__text {
    cursor: default;
    color: var(--color-text-dark);
    transition: var(--transition) color;
}

.p-gui__text:hover {
    color: var(--color-text-light);
}

.p-gui__text-input {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: calc(100% - 4px);
    width: 45%;
    box-sizing: border-box;
    cursor: text;
    border-radius: 3px;
    border: 1px solid var(--color-border-2);
    outline: none;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    padding: 0 6px;
}

.p-gui__text-input:hover {
    background: rgba(255, 255, 255, 0.1);
}

.p-gui__text-input::placeholder {
    color: var(--color-text-dark);
}

.p-gui__text[data-readonly="true"] .p-gui__text-input {
    cursor: default;
}
