.p-gui__toggle {
    color: var(--color-text-dark);
    transition: var(--transition) background, var(--transition) color;
}

.p-gui__toggle:hover {
    background: rgba(255, 255, 255, .1);
    color: var(--color-text-light);
}

.p-gui__folder .p-gui__toggle {
    margin-inline: 0;
}

.p-gui__toggle-checkbox {
    width: 26px;
    height: 14px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    border-radius: 999px;
    pointer-events: none;
    transition: .2s background-color ease, .2s border-color ease;
}

.p-gui__toggle-checkbox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 1px;
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    transform: translate(0, -50%);
    transition: .2s transform ease, .2s background-color ease;
}

.p-gui__toggle-checkbox--active {
    background-color: #ddd;
    border-color: var(--color-border);
}

.p-gui__toggle-checkbox--active::before {
    transform: translate(12px, -50%);
    background-color: var(--color-border);
    box-shadow: 0 0 4px var(--color-accent-hover);
}
