    .p-gui__vector2 {
        background: transparent;
        color: var(--color-text-dark);
        cursor: default;
    }

    .p-gui__vector2:hover {
        color: var(--color-text-light);
    }

    .p-gui__vector2-area {
        position: relative;
        background-color: rgba(0, 0, 0, .3);
        --sub-color: #282828;
        background-image:
            repeating-linear-gradient(to bottom, var(--sub-color) 0, var(--sub-color) 1px, transparent 1px, transparent 4px),
            repeating-linear-gradient(to bottom, var(--sub-color) 0, var(--sub-color) 1px, transparent 1px, transparent 4px),
            repeating-linear-gradient(to right, var(--sub-color) 0, var(--sub-color) 1px, transparent 1px, transparent 4px),
            repeating-linear-gradient(to right, var(--sub-color) 0, var(--sub-color) 1px, transparent 1px, transparent 4px);
        background-position: 25% 0, 75% 0, 0 25%, 0 75%;
        background-size: 1px 100%, 1px 100%, 100% 1px, 100% 1px;
        background-repeat: no-repeat;
        border: 1px solid var(--color-border);
        margin-top: 8px;
        margin-left: auto;
        width: 50%;
        aspect-ratio: 1;
        box-sizing: border-box;
        touch-action: none;
        cursor: pointer;
    }
    
    .p-gui__vector2-line {
        position: absolute;
        background: #333;
        opacity: 1;
        pointer-events: none;
    }
    
    .p-gui__vector2-line-x {
        width: 100%;
        height: 1px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .p-gui__vector2-line-y {
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .p-gui__vector2-dot {
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #d5d5d5;
        border: 2px solid #ff9999;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    
    .p-gui__vector-value {
        display: inline-block;
        right: 7px;
        position: absolute;
    }
