@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400,600&display=swap');

:root {
    --black: rgb(17, 17, 17);
    --white: rgb(246, 246, 232);
    --grey: #ffffff33;
    --green: #06ff89;
    --sans: 'General Sans', serif;
    --h1-size: 2.6rem;
    --h2-size: 2.2rem;
    --body-size: 1.5rem;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
}

html, body {
    height: 100%;
    overscroll-behavior: none;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.main {
    width: 800px;
    margin: 0 auto;
    padding-left: 200px;
    padding-bottom: 100px;
}

@media (max-width: 1024px) {
    .main {
        width: 700px;
        padding: 0 20px 100px 230px;
    }
}

.title {
    display: flex;
    flex-direction: row;
    margin: 80px 0 0;
}

.subtitle {
    opacity: .6;
}

.subtitle,
.subtitle span {
    font-size: 1.2rem;
}

.link {
    padding: 10px;
    border-bottom: 1px solid var(--green);
    margin-left: 20px;
    font-size: var(--body-size);
}

h1, h2 {
    font-family: var(--sans), sans-serif;
    font-weight: 600;
}

h1 {
    margin: 0;
    margin-right: auto;
    font-size: var(--h1-size);
}

h2 {
    margin-top: 110px;
    font-size: var(--h2-size);
}

p, li {
    line-height: 1.5;
    font-size: var(--body-size);
}

a {
    color: var(--white);
    text-decoration: none;
}

.code-button {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: var(--body-size);
    display: inline-block;
    padding: 0 0px 3px 0;
    border-bottom: 1px solid var(--white);
}

.code-block--hidden {
    display: none;
}

.code-inline {
    font-family: monospace;
    background-color: #333333;
    color: #a6e22e;
    padding: 1px 6px;
    border-radius: 3px;
}

div:has(pre) {
    border-radius: 5px;
}

pre[class*=language-] {
    padding: 30px; 
    border-radius: 5px;
    font-size: 1.5rem;
}

.container {
    background-color: #1b1b1b;
    transition: .3s all ease;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 100%;
    margin: 20px auto 20px auto;
    border-radius: 5px;
}

.container--small {
    height: 200px;
}

.element {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--green);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .1s transform ease, .3s border-radius ease;
    border-radius: 3px;
}

.element.left {
    left: calc((50% - 145px) - 50px);
    right: 0px;
    margin: auto 0px;
}

.element.round {
    border-radius: 50%;
}

.note {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-family: arial;
    color: var(--black);
    font-size: 1rem;
}

